.footer {
  position: fixed;
  right:27px;
  bottom: 30px;
}
.footer h1 {
  color: gray;
  font-weight: 900;
  background-color: black;
  padding: 16px 23px;
  font-size: 20px;
  -webkit-transition: 0.5s color ;
}
.footer h1:hover {
  color: white;
  transition: 0.5s;
  
}

.footer a {
  text-decoration: none;

}
