.foot {
  position: fixed;
  right:27px;
  bottom: 30px;
  transition: ease-in 0.7s;
}
.foot h1 {
  color: gray;
  font-weight: 900;
  background-color: black;
  padding: 16px 23px;
  font-size: 20px;
}
.foot h1:hover {
  color: white;
}
.foot a {
  text-decoration: none;
}