.page-3 {
  background-color: white !important;
}

.home-3 {
  padding: 140px 80px;
  text-align: center;
}
.content-3 h5 {
  color: #39b54a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
}
.content-3 h1 {
  font-size: 50px;
}
.content-3 h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 550px;
  border-bottom: rgb(209, 209, 209) 1px solid;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 130px;
  margin-top: 60px;
  margin-left: 50px;
  text-align: left;
  justify-content: center;
}
.boxes i {
  color: #39b54a;
  margin-left: -80px;
  margin-right: 30px;
}
.boxes h2 {
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: capitalize;
  min-width: 207px;
}
.boxes p {
  font-size: 20px;
  color: rgb(138, 138, 138);
  font-family: "lora-regular", serif;
  min-width: 300px;
}

@media (max-width: 800px) {
  .home-3 {
    padding: 140px 0;
  
  }
  .content-3 h5 {
    font-size: 14px;
  }
  .content-3 h1 {
    font-size: 40px;
    padding-bottom: 50px;
    letter-spacing: 0;
  }
  .content-3 h1:after{
    width: 350px;
  }
  .boxes {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    
  }
  .box-title {
    flex-direction: column;
    
  }
  .boxes i {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .boxes h2 {
    font-size: 30px;
  }
  .boxes p {
    font-size: 19px;
    padding: 0 100px;
  }
}

@media (max-width: 576px) {
  .content-3 h1 {
    text-align: center;
    font-size: 33px;
    min-width: 320px;
  }
  .boxes p {
    min-width: 550px;
  }
}