.page {
  background-image:
  linear-gradient(90deg, rgba(0, 0, 0, 1) 20.45%, rgba(0, 0, 0, 0.5) 35.73%),
    url('images/plant\ wall.avif');
}
.home {
  padding: 140px 130px;
}
.home h6 {
  color: rgb(189, 189, 189);
  padding-bottom: 16px;
}
.home h1 {
  color: white;
}

.buttons {
  padding-top: 100px;
  display: flex;
  width: 700px;
}
.buttons a {
  color: white;
  border: white 2px solid;
  padding: 15px 35px;
  margin-right: 17px;
  min-width: 200px;
  text-decoration: none;
  transition: 0.7s;
}
.buttons a:hover {
  background-color: white;
  color: black;
}
.buttons p {
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.logos {
  padding: 180px 45px;
}
.logos img {
  width: 37px;
  margin: 10px 0;
  border: white 2px solid;
  border-radius: 50%;
}
.logos span {
  /* color: #39b54a;
  right: 4.5rem;
  font-size: 1.3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%; */
}

.scroll {
  margin-left: 1030px;
  margin-top: -137px;
}
.scroll a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.65rem;
  font-weight: 700;
}
.scroll i {
  margin-right: 10px;
}
.arrow {
  border: solid #39b54a;;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.vertical-line {
  width: 2px;
  height: 8rem;
  background-color: #39b54a;
  margin-left: 1180px;
  margin-top: -12px;
}


@media (max-width: 576px)  {
  .buttons {
    display: flex;
    flex-direction: column;
    
  }
  .buttons a {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px)  {
  .buttons {
    display: flex;
  }
}