.brand img {
  position: fixed;
  top: 33px;
  left: 38px;
  width: 80px;
  transition: 0.7s;
}
.logo {
  opacity: 0;
}
.menu {
  position: fixed;
  top: 33px;
  right: 38px;
  color: #39b54a;
  align-items: center;
  padding-right: 20px;
  transition: 0.5s;
  z-index: 2;
}
.menu:hover {
  color: white;
}
.navbar-toggler {
  color: white;
  width: 20px;
}
.bg-black {
  background-color: black;
  transition: 0.5s background-color ease;
  padding: 5px 20px;
}

@media (max-width: 576px) {
  .menu h6 {
    display: none;
  }
  .navbar-toggler {
    padding: 0;
  }
  .bg-black {
    padding: 5px 10px;
  }
}