@import url("CSS_components/navbar.css");
@import url("CSS_pages/home-1.css");
@import url("CSS_pages/home-2.css");
@import url("CSS_pages/home-3.css");
@import url("CSS_pages/home-4-5.css");
@import url("CSS_pages/home-6.css");
@import url("CSS_components/footer.css");

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "montserrat-medium", sans-serif;
  overflow-x: hidden;
}
h1, h3, h6, p {
  font-family: "montserrat-medium", sans-serif;
  margin: 0;
}
h1 {
  font-size: 55px;
  font-weight: 700;
}
h3 {
  font-size: 26px;
}
h6 {
  font-size: 13px;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
p {
  font-size: 12px;
}

/* EFFECT */
.appear {
  transform: translateY(130px);
  opacity: 0;
}
.appear.active{
  transform: translateY(0);
  opacity: 1;
  transition: 1.2s;
}


/* CONTAINER */
@media (max-width: 800px) {
  .container {
    max-width: 620px;
  }
}
@media (max-width: 690px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    max-width: 400px;
  }
}