/* COMPONENTS */
@import url("CSS_components/navbar.css");
@import url("CSS_components/sidebar.css");
@import url("CSS_components/footer.css");

/* PAGES */
@import url("CSS_pages/home-1.css");
@import url("CSS_pages/home-1_media_query.css");
@import url("CSS_pages/home-2.css");
@import url("CSS_pages/home-3.css");
@import url("CSS_pages/home-4-5.css");
@import url("CSS_pages/home-4-5_media_query.css");
@import url("CSS_pages/home-6.css");
@import url("CSS_pages/home-6_media_query.css");
@import url("CSS_pages/home-7.css");
@import url("CSS_pages/home-7_media_query.css");

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


/* BODY, PAGE, ELEMENTS */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  overflow-x: hidden;
}
.page {
  background-image:
  linear-gradient(80deg, rgba(0, 0, 0, .7) 20.45%, rgba(0, 0, 0, 0.5) 35.73%),
  url('images/hero-bg.jpg.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1, h3, h5, h6, p {
  margin: 0;
}
h1 {
  font-size: 55px;
  font-weight: 700;
}
h3 {
  font-size: 26px;
}
h6 {
  font-size: 13px;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
p {
  font-size: 12px;
}


/* COLORS */
:root {
  --green: #39b54a;
}


/* EFFECTS */
.appear {
  transform: translateY(130px);
  opacity: 0;
}
.appear.active{
  transform: translateY(0);
  opacity: 1;
  transition: 1.2s;
}


/* CONTAINER */
@media (max-width: 850px) {
  .page {
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
  .container {
    max-width: 620px;
  }
}

@media (max-width: 690px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 400px;
  }
}