@import url("navbar.css");
@import url("home-1.css");

body {
  margin: 0;
  font-family: "Varela", sans-serif;
}
h1, h3, h6, p {
  font-family: "Varela", sans-serif;
  margin: 0;
}
h1 {
  font-size: 55px;
  font-weight: 700;
}
h3 {
  font-size: 26px;
}
h6 {
  font-size: 13px;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
p {
  font-size: 12px;
  letter-spacing: 0.2rem;
  font-weight: 700;
}