/* PAGE 4 */
.home-4 {
  background-color: rgb(17, 17, 17);
}
.content-4 {
  padding-top: 160px;
  text-align: center;
}
.content-4 h5 {
  color: #39b54a;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
}
.content-4 h1 {
  color: white;
  font-size: 44px;
  display:inline-block;
  width:700px;
}
.content-4 h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
  border-bottom: rgba(99, 99, 99, 0.3) 1px solid;
}
.space-4 {
  background-color: rgb(17, 17, 17);
  height:230px;
}

/* PAGE 5 */
.home-5 {
  background-color: white;
}
.images-container {
  position: relative;
  top: -158px;
  bottom: 100px;
}
.images-container a {
  transition: all .5s ease-in-out;
}
.images-container a:hover {
  filter: brightness(30%);
}

.rows {
  display: flex;
  justify-content: space-around;
}
.img-container {
  overflow: hidden;
}
.img-container img {
  width: 100%;
  transition: all .5s ease-in-out;
}
.image-3, .image-5 {
  margin-top: -12.5%;
}
/* HOVER ON IMGs */
.img-container:hover img,
.img-different:hover img {
  transform: scale(1.08)
}



/* MEDIA QUERIES */
@media (max-width: 900px) {
  /* PAGE 4 */
  .content-4 h1 {
    text-align: center;
    font-size: 33px;
    width: 80%
  }
}

@media (max-width: 560px) {
  /* PAGE 4 */
  .content-4 h5 {
    font-size: 15px;
  }
  .content-4 h1 {
    text-align: center;
    font-size: 33px;
  }

  /* PAGE 5 */
  .home-5 {
    background-color: white;
    position: relative;
  }
  .rows {
    flex-direction: column;
  }
  .image-3, .image-5 {
    margin-top: 0;
  }
}

