.page-6 {
  height: 200vh;
  background-color: rgb(230, 230, 230);
}
.content-6 {
  text-align: center;
  padding-top: 15%;
}
.content-6 h5 {
  text-transform: uppercase;
  color: #39b54a;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
  padding-bottom: 7px;
}
.content-6 h1 {
  font-size: 42px;
  display:inline-block;
  width:700px;
}

/* CAROUSEL */
.carousel {
  /* padding-top: 20%; */
}
.carousel-item {
  width: 330px;
  height: 330px;
  color: gray;
  margin: 100px 520px;

}
.carousel-item a {
  margin: auto auto;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  color: gray;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-inline-end: 13px;
  background-color: rgb(101, 101, 101);
}
.carousel-indicators .active {
  background-color: #39b54a;
}
