.page-1 {
  position: relative; 
}


/* HOME CONTAINER */
.home {
  margin: auto auto;
  margin-top: 230px;
  margin-left: 130px;
  position: relative;
  width: 60%;
}
.home h6 {
  color: rgb(189, 189, 189);
  padding-bottom: 16px;
}
.home h1 {
  color: white;
  font-size: 58px;
  /* letter-spacing: 0.1rem; */
}

/* BUTTONS */
.buttons {
  padding-top: 100px;
  padding-bottom: 170px;
  display: flex;
}
.btn-1{
  color: white;
  border: white 2px solid;
  padding: 15px 35px;
  margin-right: 17px;
  min-width: 200px;
}
.btn-2{
  color: white;
  border: white 2px solid;
  padding: 15px 43px;
  margin-right: 17px;
  min-width: 200px;
}
.buttons a {
  -webkit-transition: background-color 0.7s ;
}
.buttons a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  transition: 0.7s ;
}
.buttons p {
  letter-spacing: 0.2rem;
  font-weight: 700;
}


/* SOCIAL MEDIA ICONS */
.icons {
  margin: 280px 50px;
}
.icons li {
  list-style-type: none;
}
.icons img {
  background-color: white;
  width: 28px;
  margin: 7px 0;
  border: white 2px solid;
  border-radius: 50%;
  z-index: 1;
}


/* SCROLL */
.scroll {
  position: absolute;
  bottom: -0;
  right: 78px;
}
.scroll a {
  padding-right: 16px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.65rem;
  font-weight: 700;
  text-decoration: none;
}
.scroll i {
  margin-right: 10px;
}
.arrow {
  border: solid #39b54a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.vertical-line {
  width: 2px;
  height: 6rem;
  background-color: #39b54a;
}


