.page-6 {
  height: 200vh;
  background-color: rgb(230, 230, 230);
}
.content-6 {
  text-align: center;
  padding-top: 15%;
}
.content-6 h5 {
  text-transform: uppercase;
  color: #39b54a;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
  padding-bottom: 7px;
}
.content-6 h1 {
  font-size: 42px;
  display:inline-block;
  width:700px;
}

/* CAROUSEL */
.carousel-inner {
  position: static;
  width: 100%;
}
.carousel-items {
  /* width: 600px;
  height: 130px; */
  opacity: .55;
  margin: 100px 80px;
}
.carousel-items a {

}
.carousel-items img {
  width: 80%;
  
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-inline-end: 13px;
  background-color: rgb(101, 101, 101);
}
.carousel-indicators .active {
  background-color: #39b54a;
}
.carousel-indicators li:hover {
  background-color: #39b54a;
}


/* MEDIA QUERY */
@media (max-width: 1200px)