.page-2 {
  background-color: #39b54a;
  position: relative;
}

.vertical-line-2 {
  position: absolute;
  top: 0;
  right: 78px;
  width: 2px;
  height: 6rem;
  background-color: white;
}

.home-2 {
  padding: 140px 130px;
  text-align: center;
}

.content-2 h5 {
  font-family: "montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0;
}
.content-2 h1 {
  color: white;
  text-transform: capitalize;
  font-size: 80px;
  margin-inline: -200px;
}
.content-2 h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 550px;
  border-bottom: rgb(209, 209, 209) 1px solid;
}
.content-2 p {
  margin: 0 -100px;
  margin-top: 50px;
  font-size: 27px;
  font-family: "lora-regular", serif;
}
.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 30px;
  margin-top: 60px;
}
.vl {
  border-right: 1px solid rgb(205, 205, 205);
  height: 155px;
  position: absolute;
  left: 50%;
}
.vl-2 {
  border-right: 1px solid rgb(205, 205, 205);
  height: 155px;
  position: absolute;
  left: 50%;
  margin-top: 186px;
}
.numbers h1 {
  color: white;
  text-transform: capitalize;
  font-size: 80px;
  font-weight: 900;
  padding-bottom: 12px;
}
.numbers h5 {
  font-weight: 900;
  text-transform: capitalize;
}


@media (max-width: 800px) {
  .home-2 {
    padding: 140px 90px;
  }
  .content-2 h5 {
    letter-spacing: 0.2rem;
    font-size: 15px;
  }
  .content-2 h1 {
    font-size: 50px;
  }
  .content-2 h1:after{
    width: 60%;
  }
  .content-2 p {
    font-size: 22px;
  }
  .numbers {
    grid-template-columns: 1fr ;
  }
  .vl {
    display: none;
  }
  .vl-2 {
    display: none;
  }
}

@media (max-width: 576px) {
  .vertical-line-2 {
  display: none;
  }
}
