/* PAGE 4 */
.home-4 {
  background-color: rgb(17, 17, 17);
  height: 115vh;
}
.content-4 {
  padding-top: 180px;
  text-align: center;
}
.content-4 h5 {
  color: #39b54a;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
}
.content-4 h1 {
  color: white;
  font-size: 44px;
  display:inline-block;
  width:700px;
}
.content-4 h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 550px;
  border-bottom: rgba(99, 99, 99, 0.3) 1px solid;
}


/* PAGE 5 */
.home-5 {
  background-color: white;
  height: 340vh;
}
.images-container {
  position: relative;
  top: -11.2%;
  padding-inline: 4.5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.images-container a {
  transition: all .5s ease-in-out;
}
.images-container a:hover {
  filter: brightness(30%);
}
.img-container {
  width: 100%;
  height: 525px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}
.img-different {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.img-different img {
  width: 100%;
  height: 100%;
  transition: all .5s ease-in-out;
}
.image-3, .image-5 {
  margin-top: -14.3%;
}
/* HOVER ON IMGs */
.img-container:hover img,
.img-different:hover img {
  transform: scale(1.08)
}




@media (max-width: 600px) {
  .content-4 h1 {
    text-align: center;
    font-size: 33px;
    display: inline;
    padding-inline: 7%;
  }
  .images-container {
    grid-template-columns: 1fr;
    padding-inline: 7%;
    padding-bottom: 25%;
  }
  .image-3, .image-5 {
    margin-top: 0;
  }
}

