/* PAGE 4 */
.home-4 {
  background-color: rgb(17, 17, 17);
}
.content-4 {
  padding-top: 160px;
  text-align: center;
}
.content-4 h5 {
  color: var(--green);
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
}
.content-4 h1 {
  color: white;
  font-size: 44px;
  display:inline-block;
  width:700px;
}
.content-4 h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
  border-bottom: rgba(99, 99, 99, 0.3) 1px solid;
}
.space-4 {
  background-color: rgb(17, 17, 17);
  height:230px;
}


/* PAGE 5 */
.home-5 {
  background-color: white;
}
.images-container {
  position: relative;
  top: -158px;
  bottom: 100px;
}
.rows {
  display: flex;
  justify-content: space-around;
}
.img-container {
  overflow: hidden;
}
.img-container img {
  position: relative;
  width: 100%;
  transition: all .4s;
}
.image-3, .image-5 {
  margin-top: -12.5%;
}

.img-container:hover img {
  transform: scale(1.08);
  filter: brightness(20%);
}



.plus {
  position: absolute;
  color: white;
  font-size: 4.9px;
  font-weight: 100;
  transition: all .4s;
}
.img-container:hover .plus {
  transform: scale(10.1);
  top: 40%;
  left: 49%;
}


.string {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 15%;
  height: 0%;
  transition: height .4s;
}
.link {
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: -2400%;
  font-size: 19px;
  font-weight: 700;
  color: white;
  opacity: 1;
  border: rgba(255, 255, 255, 1) 1.5px solid;
  border-radius: 50%;
  padding: 1000%;
}
.img-container:hover .string {
  visibility: visible;
  top: 0px;
  left: 15%;
  width: 1px;
  height: 5%;
  background-color: rgb(129, 129, 129);
  opacity: .3;
} 
.img-container:hover .link  {
  visibility: visible;  
}

.img-titles {
  visibility: hidden;
  position: absolute;
  bottom: 0%;
  left: 8%;
  transition: bottom .4s;
}
.img-titles h6 {
  color: white;
  margin-bottom: -20px;
  text-transform: uppercase;
}
.img-titles p {
  color: gray;
  margin-top: 5px;
  text-transform: capitalize;
}
.img-container:hover .img-titles{
  visibility: visible;
  bottom: 27%;
}
