.page-3 {
  background-color: white;
}

.content-3 {
  padding: 0 200px;
  padding-top: 140px;
  text-align: center;
}
.content-3 h5 {
  color: #39b54a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
}
.content-3 h1 {
  font-size: 48px;
  line-height: 1.3;
}
.content-3 h1:after{
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 60%;
  border-bottom: rgb(209, 209, 209) 1px solid;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9%;
  column-gap: 15%;
  padding-top: 60px;
  padding-inline: 5%;
  padding-bottom: 180px;
  margin: 0 0;
  margin-left: 7%;
  text-align: left;
  justify-content: center;
}
.box svg {
  font-size: 3rem;
  color: #39b54a;
  margin-left: -20%;
  margin-right: 8%;
}
.box h2 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: capitalize;
}
.box p {
  font-size: 18px;
  color: rgb(138, 138, 138);
  font-family: "lora-regular", serif;
  /* min-width: 300px; */
}


/* MEDIA QUERIES */
@media (max-width: 880px) {
  .content-3 {
    padding-inline: 0;
  }
  .content-3 h5 {
    font-size: 14px;
  }
  .content-3 h1 {
    font-size: 40px;
    padding-bottom: 50px;
    letter-spacing: 0;
  }
  .box h2 {
    font-size: 25px;
  }
  .box p {
    font-size: 18px;
  }
}

@media (max-width: 770px) {
  .content-3 {
    padding-inline: 30px;
  }
  .content-3 h1 {
    text-align: center;
    font-size: 33px;
    min-width: 320px;
  }
  .boxes {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 400px;
  }
  .box-title {
    flex-direction: column;
  }
  .box svg {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .svg-inline--fa.fa-w-16 {
    width: none;
  }
  .box h2 {
    font-size: 30px;
  }
  .box p {
    font-size: 19px;
    padding: 0 100px;
    min-width: 550px;
  }
}