.page-6 {
  background-color: rgb(230, 230, 230);
}
.content-6 {
  text-align: center;
  padding-top: 150px;
}
.content-6 h5 {
  text-transform: uppercase;
  color: #39b54a;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 17px;
  margin: 0;
  padding-bottom: 7px;
}
.content-6 h1 {
  font-size: 42px;
  display:inline-block;
  width:700px;
}



/* CAROUSEL */
.carousel-inner {
  /* position: static;
  width: 100%; */
}
.carousel-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 100px 50px;
  text-align: center;
}
.carousel-items a {
  opacity: .55;
}
.carousel-items a:hover {
  opacity: 1;
}
.carousel-items img {
  width: 70%;
}

/* CAROUSEL INDICATORS */
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-inline-end: 13px;
  background-color: rgb(101, 101, 101);
}
.carousel-indicators .active {
  background-color: #39b54a;
}
.carousel-indicators li:hover {
  background-color: #39b54a;
}
.carousel-indicators:after{
  position: absolute;
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 90px;
  width: 60%;
  border-bottom: rgba(126, 126, 126, 0.4) 1px solid;
}


/* Carousel Users */
.item {
  text-align: center;
  margin-top: 100px;
}
.item p {
  padding: 0 20%;
  font-family: "lora-regular",serif;
  font-size: 2rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 4rem;
}
.item img {
  border-radius: 50%;
  width: 82px;
}
.testimonials {
  padding-top: 10px;
  margin-bottom: 7rem;
}
.testimonials p{
  font-size: 17px;
  font-weight: bold;
  color: black;
  font-family: "montserrat-semibold", sans-serif;
  margin: 0;
}
.testimonials h6 {
  padding-top: .5rem;
  font-family: "montserrat-semibold", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0em;
  line-height: 1;
  color: gray;
  margin: 0;
}




.final-line {
  width: 2px;
  height: 6rem;
  background-color: #39b54a;
  margin-inline: 50%;
}



/* MEDIA QUERY */
@media (max-width: 1100px) {

  .content-6 h1 {
    text-align: center;
    font-size: 33px;
  }
  .carousel-items {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .item-6 {
    display: none;
  }
  .item p {
    padding: 0 13%;
    font-size: 1.7rem;
    line-height: 1.7;
  }
}
@media (max-width: 900px) {
  .content-6 h1 {
    width:600px;
  }
  .carousel-items {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
  .item-5 {
    display: none;
  }
  .item p {
    padding: 0 13%;
    font-size: 1.5rem;
    line-height: 1.7;
  }
}
@media (max-width: 700px) {
  .content-6 h1 {
    text-align: center;
    font-size: 33px;
    width: 400px;

  }
  .carousel-items {
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .item-4 {
    display: none;
  }
  .item p {
    padding: 0 13%;
    font-size: 1.5rem;
    line-height: 1.7;
  }
}